@font-face {
  src: url("../fonts/LeagueSpartan-Regular.otf");
  font-family: "League Spartan";
}

#bg-section {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url('../img/default.gif');
  background-repeat: no-repeat; 
  background-color: #FFF;
  background-position: center;

}